body {
  box-sizing: border-box;
  color: #333;
  font-family: 'Source Code Pro', monospace;
  font-weight: 400;
}

h1 {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 4px;
  text-shadow: 1px 2px 2px floralwhite;
}

p {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.title-box {
  padding: 1em 2em;
  text-align: right;
  border-right: 1px solid #333;
}

.button-box{
  padding: 2em 3em;
}

.button-box.toggle-on.toggle-off {
  font-size: 0.5em;
  text-align: center;
  padding: 0 2em;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 200px;
	height: 100px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 90px;
	height: 90px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: #21a567;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}
